.field {
  label {
    display: block;
    margin-bottom: 5px;
    color: #515151;
    font: 20px "robotobold";
  }

  input[type=text],
  input[type=number],
  select {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    color: #515151;
    font: 16px "robotoregular";
    border: 2px solid #acacac;
    border-radius: 45px;
    padding: 0 15px;
    height: 45px;
    background-color: transparent;
    text-overflow: ellipsis;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
    }
  }

  .box-wrapper {
    position: relative;
  }

  .arrows {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    top: 0;
    right: 0;
    width: 25px;
    height: 45px;
    background-color: #e7e7e7;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    border-top: 2px solid #acacac;
    border-right: 2px solid #acacac;
    border-bottom: 2px solid #acacac;

    .icon {
      width: 10px;
    }

    .trigger {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      cursor: pointer;

      &:hover {
        .path-up,
        .path-down {
          fill: #6a4d32;
        }
      }
    }

  }
}

.field-text {
  &-duplex {
    .box-fields {
      display: flex;
      flex-direction: row;
    }

    input {
      text-align: center;
      margin-left: 8px;

      &:first-child {
        margin-left: 0;
        margin-right: 8px;
      }
    }
  }
}

.field-number {
  input {
    padding: 0 35px 0 15px;
  }

  .arrows {
    .up {
      padding-top: 6px;
    }

    .down {
      padding-bottom: 6px;
    }

    .trigger {
      height: 50%;
    }
  }
}

.field-select {
  select {
    padding: 0 35px 0 15px;

    &:hover {
      & + {
        .arrows {
          .trigger {
            .path-down {
              fill: #6a4d32;
            }
          }
        }
      }
    }
  }

  .arrows {
    z-index: -1;
  }
}

.field-checkbox {
  input {
    position: absolute;
    opacity: 0;

    &:checked + label {
      .skin-path {
        fill: #6a4d32;
      }
    }
  }

  .box-fields {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    label {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 15px;
      min-width: 110px;
      height: 45px;
      color: white;
      font: 18px "robotoregular";
      cursor: pointer;

      .skin {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 45px;
        z-index: -1;
      }

      .skin-path {
        transition-duration: .3s;
      }

      &:hover {
        .skin-path {
        }
      }
    }
  }

  .box-wrapper {
    margin-right: 16px;
  }
}
